.ipympl_widget {
  height: 500px;
}

.ipympl_button {
  width: 34px; /* calc(var(--jp-widgets-inline-width-tiny) / 2 - 2px) */
  padding: 0;
}

.ipympl_figure {
  width: 100%;
  height: 100%;
}

.ipympl_canvas_div {
  margin: 2px;
  flex-grow: 1; /* Take all the remaining space after the header and footer is displayed */
  overflow: hidden;
}
