.jupyter-matplotlib {
  height: 500px;
  flex: 1 1 auto;
}

/* Toolbar */

.jupyter-matplotlib-button {
  width: 34px; /* calc(var(--jp-widgets-inline-width-tiny) / 2 - 2px) */
  padding: 0;
}

/* Figure */

.jupyter-matplotlib-figure {
  width: 100%;
  height: 100%;
}

.jupyter-matplotlib-canvas_div {
  margin: 2px;
  flex: 1 1 auto;
}

.jupyter-matplotlib-canvas_div:focus {
  outline: 1px solid; /* 1px solid var(--jp-widgets-input-focus-border-color); */
}
