*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/

# OS X
.DS_Store

# vscode
.vscode/

lib/

# NPM
# ----

**/node_modules/
ipympl/nbextension/index.*
ipympl/nbextension/package.json
ipympl/labextension/*.tgz

ui-tests/test-results
ui-tests/playwright-report

# Coverage data
# -------------
**/coverage/

# Packed lab extensions
ipympl/labextension

# OS specific items
.DS_Store

# sphinx build dir
docs/_build
