*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/

# Generated Javascript
ipympl/nbextension/
ipympl/labextension/
ipympl/*.tgz
js/*.tgz

# OS X
.DS_Store

# vscode
.vscode/

lib/
# NPM
# ----

**/node_modules/
ipympl/nbextension/index.*
ipympl/labextension/*.tgz

# Coverage data
# -------------
**/coverage/

# Packed lab extensions
ipympl/labextension

# OS specific items
.DS_Store