*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/

# OS X
.DS_Store

# vscode
.vscode/

lib/

# NPM
# ----

**/node_modules/
ipympl/nbextension/index.*
ipympl/nbextension/package.json
ipympl/labextension/*.tgz

# Coverage data
# -------------
**/coverage/

# Packed lab extensions
ipympl/labextension

# OS specific items
.DS_Store

# Sphinx documentation
docs/_build/
docs/source/_static/embed-bundle.js
docs/source/_static/embed-bundle.js.map
