repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-docstring-first
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.7.0]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        args: ["--in-place", "--remove-all-unused-imports", "--ignore-init-module-imports", "--remove-unused-variables"]
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.3
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
      - id: black
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.29.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.4.1'
    hooks:
      - id: prettier
        types: [ts]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v8.0.0-rc.0'
    hooks:
    - id: eslint
      files: \.ts$  # *.ts
      types: [file]
      additional_dependencies:
        - eslint
        - prettier
        - typescript
        - '@typescript-eslint/eslint-plugin'
        - '@typescript-eslint/parser'
        - 'eslint-config-prettier'
        - 'eslint-plugin-prettier'
