language: python
sudo: false
dist: trusty
addons:
  firefox: latest
cache:
  directories:
    - $HOME/.npm
before_install:
- wget https://github.com/mozilla/geckodriver/releases/download/v0.11.1/geckodriver-v0.11.1-linux64.tar.gz
- mkdir geckodriver
- tar -xzf geckodriver-v0.11.1-linux64.tar.gz -C geckodriver
- export PATH=$PATH:$PWD/geckodriver
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start || true
install:
- wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
- bash miniconda.sh -b -p $HOME/miniconda
- export PATH="$HOME/miniconda/bin:$PATH"
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda update -q conda
- conda info -a
- conda install nodejs notebook
- pip install selenium cookiecutter
- pip install --pre jupyterlab
script:
- cookiecutter . --no-input
- cd jupyterlab_myextension
- jupyter labextension install @jupyter-widgets/jupyterlab-manager --no-build
- jupyter labextension install .
- jupyter lab clean
- jupyter labextension link .
- python -m jupyterlab.selenium_check --NotebookApp.ip=127.0.0.1
