recursive-include ipympl/nbextension *.*
recursive-include ipympl/labextension *.*

graft js/src
include js/package.json
include js/webpack.config.js
include LICENSE
include jupyter-matplotlib.json

include setup.py
include pyproject.toml
