recursive-include ipympl/nbextension *.*
recursive-include ipympl/labextension *.*

include setup.py
include pyproject.toml

include tsconfig.json
include package.json
include webpack.config.js
include ipympl/labextension/*.tgz

# Documentation
graft docs
exclude docs/\#*
prune docs/build
prune docs/gh-pages
prune docs/dist

# Examples
graft examples

# Javascript files
graft ipympl/nbextension
graft src
graft css
prune **/node_modules
prune coverage
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
