recursive-include ipympl/nbextension *.*
recursive-include ipympl/labextension *.*

include js/*.tgz
include js/package.json
include LICENSE
include jupyter-matplotlib.json

include setup.py
include pyproject.toml
